.box-layout{
    background: url('/img/bg.jpg');
    background-size: cover; 
    height: 100vh ; // set the img 100% of the viewport height
    width: 100vw;  // set the img 100% of the viewport width
    display: flex; // to center the layout
    justify-content: center; // center virtically
    align-items: center; // center horizontally
    }
.box-layout__box{
    background:fade-out($color: #ffffff, $amount: .2);
    border-radius: 3px;
    text-align: center;
    padding: $l-size $m-size; // get it from _settings.scss
    //width: 25rem;
}

.box-layout__title{
    margin: 0 0 $m-size 0;
    line-height: 1;
}
