.page-header{
    background: $off-white;
    padding: $l-size ;
    margin-bottom: $l-size  ;

}

.page-header__title{
     margin: 0;
     font-weight: 300;
     span{
        font-weight: 700;

     }
}
.page-header-action{
    margin-top: $m-size;
}
