.show-on-mobile{
@media (min-width: $desktop-breakpoint) {
    display: none; // hide on desktop
}
}

.show-on-desktop{
   // subtract  .01rem to make sure both styles never take effect in the same time
    @media (max-width: $desktop-breakpoint - .01rem) {
        display: none; // hide on mobile
    }
}